/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2015, 9:37:28 AM
    Author     : Tajinder
*/


@font-face {
    font-family: 'futurabookcregular';
    src: url('fonts/futurabookc-webfont.eot');
    src: url('fonts/futurabookc-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurabookc-webfont.woff2') format('woff2'),
         url('fonts/futurabookc-webfont.woff') format('woff'),
         url('fonts/futurabookc-webfont.ttf') format('truetype'),
         url('fonts/futurabookc-webfont.svg#futurabookcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futurademicregular';
    src: url('fonts/futurademic-webfont.eot');
    src: url('fonts/futurademic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futurademic-webfont.woff2') format('woff2'),
         url('fonts/futurademic-webfont.woff') format('woff'),
         url('fonts/futurademic-webfont.ttf') format('truetype'),
         url('fonts/futurademic-webfont.svg#futurademicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
             *{box-sizing: border-box}
             body{box-sizing: border-box; margin: 0; padding: 0}
            .header {    border-bottom: 5px solid rgb(228, 70, 67);    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.2);    float: left;    width: 100%; position: fixed; background-color: #fff;}
            .container {    margin: 0 auto;    max-width: 1170px;    padding: 0 20px;}
            .logo {    display: block;    padding: 5px 0;    text-align: center;}
            img{max-width: 100%}
            .logo a {    display: inline-block;    width: 120px;}
            section.section {    float: left;    padding: 100px 0 50px;    width: 100%;}
            section.section h1 {    border-bottom: 2px solid rgb(241, 241, 241);   color: #eb4c49; float: left;      font-family: 'futurademicregular';  font-size: 30px;    font-weight: normal;    padding-bottom: 10px;    width: 100%;}
            .section h2 {    color: rgb(0, 163, 218);    float: left;   font-family: 'futurademicregular';   font-size: 24px;    font-weight: normal;    margin: 10px 0;    width: 100%;}
            section p {    float: left;   font-family: 'futurabookcregular'; font-size: 16px;    font-weight: normal;    line-height: 24px;    margin-bottom: 10px;    margin-top: 0;    width: 100%;}
            section ul {    float: left;    margin: 0;      width: 100%;}
            section ul li {    float: left;   font-family: 'futurabookcregular';   font-size: 16px;    line-height: 24px;    list-style: outside none square;    width: 100%;}
			.terms  p {    float: left;      font-family: 'futurabookcregular'; font-size: 16px;line-height: 24px;    margin-bottom: 5px; width: 100%;   margin-top: 0;    padding: 0;    width 100%;}
			.terms h1 {border-bottom: 2px solid #e44643;  color: rgb(0, 163, 218);  float: left;      font-family: 'futurademicregular' ;  font-size: 26px;    line-height: 24px;    padding: 0 0 15px;    width: 100%;}
			.terms  ul li{ float: left;       font-family: 'futurabookcregular';   font-size: 16px;line-height: 24px;    margin-bottom: 5px; width: 100%;   margin-top: 0;   list-style: outside none square; padding: 0;    width 100%;}
			.terms ul{    float: left;      width: 100%;}
			.terms  a {color: #00a3da;text-decoration: none;}
			section.terms {float: left;padding: 100px 0 50px;width: 100%;}
			 section.terms p strong {    color: rgb(0, 163, 218);    float: left;   font-family: 'futurademicregular';   font-size: 24px;    font-weight: normal;    margin: 10px 0;    width: 100%;}
           .line > strong {font-size: 18px !important;}
		section.terms    ul li p strong {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
	font-size:18px;
}
		   @media (max-width: 955px) and (min-width:768px){
                 .container {    margin: 0 auto;    max-width: 767px;   }
            }
              @media (max-width: 767px) {
                 .container {    margin: 0 auto;    max-width: 100%; padding: 0 10px;  }
            }
             @media (max-width: 480px) {
                 .section h2 {    font-size: 18px;    font-weight: normal;    line-height: 24px;}
				  section.terms p strong{  font-size: 18px;    font-weight: normal;    line-height: 24px;}
                   section p {        width: 100%;}
                   .logo a {    display: inline-block;    width: 80px;}
                    section ul{padding-left: 20px;}
                section.section {    float: left;    padding: 70px 0 50px;    width: 100%;}
				  .line > strong {font-size: 16px !important;}
             }
